@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
  
}

body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.title {
    margin: 4rem 0;
}

.heading {
    font-size: 3.5rem;
    color: #173877;
}

.sub-heading {
    font-size: 1.2rem;
    color: #0e244b;
    padding-top: 1rem;
}



.projects {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
    padding: 2rem;
    max-width: 90%;
    margin: auto;
}


.project a {
    display: flex;
    background-color: #fff;
    color: #173877;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 7rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.project a:hover {
    background:#173877;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}






