@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #0c6b56;
    font-family: 'Inter', sans-serif;
    color: #fff;
    line-height: 1.6;
}

/* Title Section */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: linear-gradient(135deg, #328f73, #266956);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    font-size: 3.5rem;
    font-weight: 600;
}

/* Projects Grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    list-style: none;
    margin: 2rem auto;
}

/* Project Links */
.project a {
    display: flex;
    color: white;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
   margin: 0 auto;
   align-items: center;
   justify-content: center;
    height: 7rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover Effect */
.project a:hover {
    /* background: #2c8067; */
    background: #041a13;
    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
